---
title: singlepost.njk
layout: layouts/_default/base.njk
---

<main>
  {% include 'layouts/partials/billboard.njk' %}

  <div class="mt-8 lg:mt-12 2xl:mt-16 border-blue-700 mx-auto my-auto w-1/5 border-solid border-b-4"></div>

  <div class="container mt-10">
    <article class="article">
      {{ content | safe }}
    </article>
  </div>

</main>