---
title: classer.njk
layout: layouts/_default/base.njk
---

<main>
  {% include 'layouts/partials/billboard.njk' %}

  <div class="mt-8 lg:mt-12 2xl:mt-16 border-blue-700 mx-auto my-auto w-1/5 border-solid border-b-4"></div>

  <div class="container mt-10">
    <article class="article">
      <section>
        <h2>
          Qu’est-ce que l’office organising ?
        </h2>
        <p>L’office organising consiste en un accompagnement professionnel en gestion administrative, en rangement de bureau et en organisation de l’espace de travail&nbsp;: Qu’il s’agisse de documents papiers (courriers, factures, dossiers, projets, etc.) ou de données informatiques, en tant que professionnelle de l’organisation, je vous aide à trier, ranger, organiser et maintenir en ordre ces différents supports.</p>
        <p>Je vous accompagne, pas à pas, dans la mise en place de la gestion des courriers entrants, de méthodes de classement et d’organisation efficaces, de systèmes d’archivages simples, de gestion documentaire pour vous aider ainsi à améliorer votre méthodologie de travail au quotidien. Une organisation et une gestion efficaces seront bénéfiques à votre entreprise et serviront à vos objectifs professionnels.</p>
        <h2>Pourquoi faire appel à un office organiser ?</h2>
        <p>Que vous soyez à la tête d’une petite ou d’une moyenne entreprise ou que vous soyez indépendant(e), différentes situations peuvent vous amener à prendre contact avec un office organiser.</p>
        <ul>
          <li>Vous éprouvez des difficultés dans la gestion de vos e-mails ?</li>
          <li>Vous n’avez pas le courage de vous attaquer à la pile de paperasse qui s’est accumulée au fil du temps sur votre bureau ?</li>
          <li>Par manque de maîtrise de documents et/ou de délais, vous avez laissé passer des opportunités importantes</li>
          <li>Vous développez votre société et avez besoin de structure ?</li>
          <li>Vous souhaitez développer les compétences de l’un de vos collaborateurs ?</li>
          <li>Vous reprenez le flambeau d’une entreprise dont l’organisation interne pose un problème ?</li>
          <li>Vous voulez remédier à une gestion administrative peu efficace qui vous ralentit ?</li>
        </ul>
        <p>Mon rôle de coach en rangement et en organisation vous aidera à retrouver la sérénité sur votre lieu de travail grâce à des méthodes, des conseils de rangement et d’organisation adaptés à vos besoins. En réorganisant votre mode de fonctionnement et votre espace de travail, vous gagnerez en efficacité et augmenterez votre productivité, tout en récupérant du temps à consacrer à vos objectifs.</p>
      </section>

      <section>
        <h2>
          Comment cela fonctionne ?
        </h2>
        <!-- Slider main container -->
        <div class="swiper-container px-10 md:w-1/3">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide p-5 bg-almond h-full">
              <div class="flex justify-center">
                <span class="text-center flex items-center justify-center block rounded-full w-10 h-10 bg-almond text-white">1</span>
              </div>
              <p>
                Une 1ere visite nous permettra d’identifier ensemble vos besoins et/ou les espaces à réaménager seront localisés.
              </p>
            </div>
            <div class="swiper-slide p-5 bg-grayWeb text-white">
              <div class="flex justify-center">
                <span class="text-center flex items-center justify-center block rounded-full w-10 h-10 bg-almond text-white">2</span>
              </div>
              <p>
                Si nécessaire, une phase d’immersion pourra être planifiée pour que je puisse questionner les membres du personnel concernés, observer et analyser le fonctionnement de manière détaillée.
              </p>
            </div>
            <div class="swiper-slide p-5 bg-almond">
              <p>Dans tous les cas, un devis accompagné d’un plan d’actions appropriées seront établis</p>
            </div>
            <div class="swiper-slide p-5">
              <p>Lors des séances d’intervention, nous concrétiserons ensemble les objectifs du plan d’actions : tris, désencombrement, rangement, organisation de l’espace et mise en place de nouvelles méthodes de fonctionnement.</p>

            </div>
            <div class="swiper-slide p-5">
              <p>L’ensemble du personnel pourra être impliqué afin de pérenniser cette nouvelle organisation dans le temps.</p>

            </div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

      </section>

      <section>
        <h2>
          L’organisation est une des cartes maitresses du jeu de l’Amélioration Continue Si vos objectifs d’évolution passent par
        </h2>
        <ul>
          <li>réorganiser votre espace de travail ?</li>
          <li>un accès à vos dossiers plus simple et efficace ?</li>
          <li>un gain de temps à consacrer au développement de votre activité ?</li>
        </ul>
        <p>L’intervention d’un(e) Office Organiser vous permettra de répondre à l’ensemble de ses questions.</p>
      </section>

      {{ content | safe }}
    </article>
  </div>

</main>