---
title: BryceWray.com
layout: layouts/_default/base.njk
---

<main class="p-0">
    <div class="pt-6 lg:pt-12 grid grid-cols-1 md:grid-cols-12 w-full mx-auto">
        <div class="lg:col-span-5 text-center lg:text-right relative">
            <div class="absolute inset-0 z-0">
                <img src="/images/house.jpg"
                     alt=""
                     class="h-full"
                >
            </div>

            <div class="border border-4 border-gray-700 rounded-lg flex flex-col justify-center bg-gray-100 bg-opacity-75 absolute inset-10 z-10 px-8">
                <h1 class="lg:leading-normal font-serif text-black text-xl lg:text-6xl 2xl:text-6xl tracking-wider">
                    Home Organiser
                </h1>
                <blockquote class="my-10">
                    <p class="text-3xl">
                        « Apprendre à vivre mieux <br> avec un peu moins »
                    </p>
                    <footer>
                        <cite> Yann Arthus-Bertrand </cite>
                    </footer>
                </blockquote>
                <div class="text-xl space-y-9">
                    {{ content | safe }}
                </div>
            </div>
        </div>
        <div class="grid text-center lg:text-left lg:col-span-7">
            <div class="p-10 bg-white flex flex-col">
                <h2 class="mb-5 has-line-on-right">
                    Ranger
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam architecto, commodi dolorum, ea fugit illum modi natus, nostrum officia omnis porro recusandae reiciendis similique temporibus totam vitae voluptatem voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam architecto, commodi dolorum, ea fugit illum modi natus, nostrum officia omnis porro recusandae reiciendis similique temporibus totam vitae voluptatem voluptatibus.</p>
                <a href="" class="c-button self-end mt-5">
                    en savoir plus
                </a>
            </div>
            <div class="p-10 bg-purple-50 flex flex-col">
                <h2 class="mb-5 has-line-on-right">
                    Classer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugiat labore, mollitia nesciunt similique vel? Aperiam beatae corporis dolorum eveniet, illum itaque laborum, odit quaerat quam quia sunt temporibus unde?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugiat labore, mollitia nesciunt similique vel? Aperiam beatae corporis dolorum eveniet, illum itaque laborum, odit quaerat quam quia sunt temporibus unde?</p>
                <a href="" class="c-button self-end mt-5">
                    en savoir plus
                </a>
            </div>
            <div class="p-10 bg-purple-100 flex flex-col">
                <h2 class="mb-5 has-line-on-right">
                    Louer
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dignissimos distinctio dolore ea ex explicabo, facilis fugiat impedit in ipsum mollitia nemo nesciunt pariatur quasi quo sapiente unde voluptates, voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dignissimos distinctio dolore ea ex explicabo, facilis fugiat impedit in ipsum mollitia nemo nesciunt pariatur quasi quo sapiente unde voluptates, voluptatibus.</p>
                <a href="" class="c-button self-end mt-5">
                    en savoir plus
                </a>
            </div>
            {# <h2 class="h1 mt-4 lg:mt-0 mb-4 lg:mb-10 text-3xl lg:text-5xl 2xl:text-7xl">Latest
                <a href="/posts/">posts</a>
            </h2> #}
            {# {% for post in collections.post | reverse %}
                {% if loop.index0 < 3 %}
                    <div>
                        <h2 class="not-italic tracking-tight text-2xl lg:text-3xl 2xl:text-4xl">
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h2>
                        <p class="font-sans font-bold mt-1 mb-0 leading-5 text-xl lg:text-2xl 2xl:text-3xl">{{ post.data.subtitle }}</p>
                        <p class="font-sans text-sm tracking-normal mt-1 mb-0 dateInfo">
                            <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">
                                <strong>{{ post.date | htmlDateString }}</strong></time>
                            {% if post.data.lastmod %}
                                <br/>Last modified
                                <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">{{ post.data.lastmod | htmlDateString }}</time>
                            {% endif %}
                        </p>
                        <p class="font-sans text-base mt-1 mb-4 lg:mb-10">
                            {{ post.data.description }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %} #}
            {# <p class="font-sans">
                <a href="/posts/"><strong>All {{ collections.post.length }} posts</strong></a>
                <span class="text-sm"><em>(listed five per page)</em></span>
            </p> #}
        </div>
    </div>
</main>