<div class="text-center pt-12 lg:pt-20">
  <div>
    <h1 class="text-3xl lg:text-6xl 2xl:text-8xl tracking-wider">
      {{ title }}
    </h1>
    {% if subtitle %}
      <h2 class="mt-6 lg:mt-8 2xl:mt-12 text-2xl lg:text-4xl 2xl:text-5xl">
        {{ subtitle }}
      </h2>
    {% endif %}
    {% if description %}
      <p class="container font-sans mt-8 lg:mt-12 2xl:mt-16 text-xl lg:text-2xl 2xl:text-3xl shadow-md rounded-md py-5 border border-almond">
        {{ description }}
      </p>
    {% endif %}
  </div>
</div>